## While

Another form of loops which we're going to discuss.

the loop is going to run forever until the condition is True

In [2]:
# an example
nums_list = [1, 2, 3, 4, 5, 'x', 6, 7, 8, 9, 10, 11,'y', 12]

In [3]:
nums_list

[1, 2, 3, 4, 5, 'x', 6, 7, 8, 9, 10, 11, 'y', 12]

> we expect that the output of the program should be like this



```
a string found in index 5
a string found in index 12

other numbers which we found powered by 2 is:
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144]
```

In [4]:
len(nums_list)

14

In [5]:
new_list = []

i = 0
len_list = len(nums_list)

while i <= (len_list - 1):
  # first we should check weather the type is str or int
  if type(nums_list[i]) == int:
    new_list.append(nums_list[i] ** 2)
  elif type(nums_list[i]) == str:
    print(f"a string found in index {i}")
    new_list.append(False)
  
  i += 1

print(f"\nother numbers which we found powered by 2 is:\n{new_list}")

a string found in index 5
a string found in index 12

other numbers which we found powered by 2 is:
[1, 4, 9, 16, 25, False, 36, 49, 64, 81, 100, 121, False, 144]

## Function

We can write our code in a function in order to use it later.

In [6]:
def get_info():
  """
  You can use this function to save your information.
  """

  name = input("Enter your first name: ")
  family = input("Enter your last name: ")

  while True:
    with_age = input("\nDo you want to enter you age?[y/n] ")

    if with_age is 'y' or with_age is 'n':
      break
    
    print("*Pay attention to the format*")

  if with_age is 'y':
    age = input("Enter your age: ")
    print("\nInformation saved successfully.")
    information = {
        "name": name,
        "family": family,
        "age": age
    }

  else:
    print("\nInformation saved successfully.")
    information = {
        "name": name,
        "family": family
    }

  return information

In [7]:
the_info = get_info()

Enter your first name: Peyman
Enter your last name: Vahidi

Do you want to enter you age?[y/n] n

Information saved successfully.

In [8]:
the_info

{'family': 'Vahidi', 'name': 'Peyman'}

In [9]:
# Lets write our function in another way
def get_info_2(name, family, age=None):

  if age is None:
    information = {
        "name": name,
        "family": family
    }
  else:
    information = {
        "name": name,
        "family": family,
        "age": age
    }

  print("Information saved successfully.")
  return information

In [10]:
etelaat_2 = get_info_2('peyman', 'vahidi', 24)

Information saved successfully.

In [11]:
etelaat_2

{'age': 24, 'family': 'vahidi', 'name': 'peyman'}

What's our goal:
1. get a list of numbers
2. the output should be list of strings with the same len as the input list in the fist stage
3. the strings in the output list should be 'odd' or 'even'

let's give an example:

input -> [1, 2, 3, 4, 5, 6]

ourput -> ['odd', 'even', 'odd', 'even', 'odd', 'even']

hint = use %

In [12]:
list((1, 2, 3))

[1, 2, 3]

In [13]:
tuple([1, 2, 3])

(1, 2, 3)

In [14]:
def odd_even(my_list):

SyntaxError: ignored

# Create a function which gives the first n numbers in fibonacci series

a(0) = a(1) = 1

2 <= t < n

a(t) = a(t-1) + a(t-2)

In [ ]:
def fib(n):

In [ ]:
n=4 -> 1, 1, 2, 3

n=6 -> 1, 1, 2, 3, 5, 8

In [18]:
4 % 2

0